.research-container {
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  padding: 30px;

  .title {
      text-indent: 0;
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 20px;

      a {
        color: #666;

        &:active,
        &:focus,
        &:hover {
          color: #666;
        }
      }
      
  }

  .author {
      font-size: 20px;
      text-indent: 0;
  }

  .screenshot {
    img {
      width: 100%;
    }
  }
}
