/* $main-color: #446f9f; */
/* $sec-color: #2080B8; */

$main-color: #ffa773;
$sec-color: #ffa773;

$nav-text-color: #ff8740;;

$aside-bg-color: #565656;
$aside-shadow: rgba(98, 98, 98, 0.86);
$title-color: #73cbff;
